<launch>
    <node pkg="pcl" type="cascade_detection_node" name="cascade_detection" output="screen">
    <!-- <node pkg="pcl" type="cascade_detection_node" name="cascade_detection"> -->
        <rosparam command="load" file="$(find pcl)/config/cascade_detection.yaml"/>
    </node>        
</launch>
